<div class="form-container">
<h1 class="title">Ingrese Producto</h1>

<form action="/productos/carga" method="post" enctype="application/x-www-form-urlencoded">
  <div>
    <label for="title">Nombre</label>
    <input type="text" name="title" />
  </div>
  <div>
    <label for="price">Precio</label>
    <input type="text" name="price" />
  </div>
  <div>
    <label for="thumbnail">Foto URL</label>
    <input type="text" name="thumbnail" />
  </div>
  <button type="submit" class="btn btn-success">Enviar</button>
  
</form>
</div>