<div class="main-container">

  <h1 class="title">Ingrese Producto</h1>

  <form id="form" enctype="application/x-www-form-urlencoded">
    <div>
      <label for="title">Nombre</label>
      <input id="titleInput" type="text" name="title" />
    </div>
    <div>
      <label for="price">Precio</label>
      <input id="priceInput" type="text" name="price" />
    </div>
    <div>
      <label for="thumbnail">Foto URL</label>
      <input id="thumbnailInput" type="text" name="thumbnail" />
    </div>
    <button id="btn" type="submit" class="btn btn-success">Enviar</button>    
  </form>

  <hr>

  <table class="table table-dark">
    <thead>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Foto</th>
    </thead>
    <tbody id="tableBody">
      {{#each productos}}
          <tr>
              <td>{{this.title}}</td>
              <td>$ {{this.price}}</td>
              <td><img src="{{this.thumbnail}}" alt="imagen"></td>
          </tr>
      {{/each}}
    </tbody>
  </table>

</div>
