.title {
  font-size: 30px;
  color: rgb(31, 31, 247);
  font-weight: bold;
  text-align: start;
  margin-bottom: 50px;
}

label {
  font-weight: bold;
}

.main-container {
  max-width: 900px;
  margin: 0 auto;
}

.container {
  background-color: rgb(236, 236, 236);
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

img {
  width: 30px;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.message .email {
  font-weight: 600;
  color: rgb(31, 31, 247);
  width: 40%;
}

.message .date {
  color: rgb(134, 30, 30);
  width: 30%;
}

.message .msg {
  color: green;
  font-style: italic;
  width: 30%;
}
